body {
    background-color: #322332;
    color: white;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #981118;
    color: white;
}

h1 {
    font-size: 24px;
}

.top-menu {
    padding-top: 40px;
    background-color: #981118;
    width: 100%;
    height: 70px;
}

.top-menu--item {
    display: inline-block;
    width: 15%;
    text-align: center;
}

.top-menu--item--icon {
    display: inline-block;
    transform: scaleX(0.5) scaleY(0.5);
}