html {
    font-family: 'Helvetica';
    text-align: center;
}

body {
    margin: 20px;
}

#icon {
    display: inline-block;
    margin-bottom: 20px;
}

#submit-input {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    color: #ffffff;
    width: 100%;
    height: 40px;
    background-color: black;
    text-align: center;
    vertical-align: center;
    display: table-cell;
    line-height: 40px;
    font-size: 16px;
    border: 0;
    padding: 0;
    margin-bottom: 10px;
    border-radius: 5px;
}

#blue-div {
    width: 100%;
    height: 200px;
    background-color: blue;
}

#big-div {
    width: 100%;
    height: 200px;
    background-color: red;
}