<html>
<head>
    <meta name='viewport' content='width=device-width initial-scale=1'/>
    <title><%= name %></title>
    <script src="js/polymer-native.js"></script>
    <link rel="stylesheet" href="css/html-native-normalize.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<native-router fullscreen="true" hideFirstBar="true">
    <native-navbar class="navbar"></native-navbar>
    <native-route path="/" title="Main page">
        <img is="native-image" src="./img/upc.png">
        <native-view class="content">
            <native-label class="header">
                My UPC
            </native-label>
            <button is="native-button" onclick="location.hash = 'profile'">Profile<img is="native-image" src="./img/arrow.png"></button>
            <native-view class="form-divider"></native-view>
            <button is="native-button" onclick="location.hash = 'services'">Services<img is="native-image" src="./img/arrow.png"></button>
            <native-view class="form-divider"></native-view>
            <button is="native-button" onclick="location.hash = 'balance'">Balance<img is="native-image" src="./img/arrow.png"></button>
        </native-view>
        <button is="native-button" class="call-help" onclick="alert('Calling helpdesk')">Call the helpdesk</button>
        <native-label class="call-price">zt 0,25 p/m + costs from your mobile provider</native-label>
    </native-route>
    <native-route path="#profile" title="Profile">
        <img is="native-image" src="./img/top.png">
        <native-view class="content">
            <native-label class="form-header">
                Contract holder:
            </native-label>
            <native-label class="form-data">
                Mickey O`Mallory
            </native-label>
            <native-view class="form-divider"></native-view>

            <native-label class="form-label">E-Mail:</native-label>
            <input is="native-input" value="some.email@gmail.com"/>
            <native-label class="form-label">Phone:</native-label>
            <input is="native-input" value="+31638482851"/>
            <native-view class="form-divider"></native-view>

            <div class="checkbox-line">
                <native-label>Automatic charging</native-label><input type="checkbox" is="native-checkbox" checked="true">
            </div>

            <button is="native-button" class="half-line white-button" onclick="window.history.back();">Cancel</button><button is="native-button" class="half-line blue-button" onclick="alert('Profile saved')">Save</button>
        </native-view>
    </native-route>
    <native-route path="#services" title="Services">
        <img is="native-image" src="./img/services.png">
        <native-view class="content">
            <div class="checkbox-line">
                <img class="list-icon" is="native-image" src="./img/mobile.png"><native-label>Mobile</native-label><input type="checkbox" is="native-checkbox" checked="false">
            </div>

            <div class="checkbox-line">
                <img class="list-icon" is="native-image" src="./img/phone.png"><native-label>Phone</native-label><input type="checkbox" is="native-checkbox" checked="true">
            </div>

            <div class="checkbox-line">
                <img class="list-icon" is="native-image" src="./img/fiber.png"><native-label>Fiber, 120 MB/s</native-label><input type="checkbox" is="native-checkbox" checked="true">
            </div>

            <div class="checkbox-line">
                <img class="list-icon" is="native-image" src="./img/tv.png"><native-label>TV</native-label><input type="checkbox" is="native-checkbox" checked="true">
            </div>
        </native-view>
    </native-route>
    <native-route path="#balance" title="Balance">
        <native-view class="round-balance">
            <native-label class="balance-header">
                0,0 &#8364;
            </native-label>
        </native-view>
        <button is="native-button" class="call-help" onclick="alert('Charging balance is impossible')">Charge</button>
        <native-label class="call-price">Your bank may charge transfer fee</native-label>
    </native-route>
</native-router>
</body>
</html>